body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(45deg, #3b2a30, #9b354a , #7dc412);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.invitation-card {
    background: rgba(195, 204, 185, 0.779);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 400px;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

h1 {
    color: #d9534f;
}

p {
    margin: 10px 0;
}

input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px); /* Width minus padding and border */
}

button {
    background-color: #d9534f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #d7cdcd;
}

#confirmationMessage {
    margin-top: 20px;
    color: #3f4851;
    font-weight: bold;
}

.flowers-top, .flowers-bottom {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
}

.flower {
    width: 50px;
    height: 50px;
    background: radial-gradient(circle at 30% 30%, #4f7aa8, #FF1493);
    border-radius: 50%;
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.falling-leaves {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
}

.leaf {
    position: absolute;
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at 30% 30%, #FFA07A, #FF4500);
    border-radius: 50%;
    opacity: 0.8;
    animation: fall linear infinite;
}

@keyframes fall {
    to {
        transform: translateY(100vh) rotate(360deg);
    }
}
@media (max-width: 600px) {
    .invitation-card {
        width: 90%;
        padding: 15px;
    }

    h1 {
        font-size: 1.5em;
    }

    p, input, button {
        font-size: 0.9em;
    }